@model EfDemo.Data.Presentation.Web.DefaultSite.Models.Account.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <h4>Enter your email.</h4>
    <hr />
    @Html.ValidationSummary("")
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email)
        </div>
    </div>
    <div>
        <div>
            <input type="submit" value="Email Link" />
        </div>
    </div>
}